@import "../base/normes";
@import "../utils/variables";
@import "../componants/boutons";
@import "../utils/font_weights";   /*MAPS*/
@import "../layouts/header"; /*----------HEADER-----------*/
@import "../layouts/mainContent"; /*----------mainContent-----------*/
@import "../layouts/mobileFooter"; /*----------footer-----------*/  



/*
Mes Polices
Logo et titres: Shrikhand
Texte: Roboto
*/

  
.wrapper{
        
    min-width: 320px;
    max-width: 400px; /*Un point d'arrêt fluide */
    margin: 0px 22px; /*Pour centrer les éléments: 
    je vais définir une marge égale à 0 en haut et en bas et 50px à droite et à gauche*/
    
}


    
    /*----------secondheader-----------*/


    #secondHeader div.container img{

        background-image: url(../images/restaurants/ALaFrancaise.jpg);
        width: 100%;
        background-repeat: no-repeat;
        object-fit: cover;
        z-index: -1;
        position: relative;
    }




    /*----------mainContent-----------*/

    #Menu{

        
        div.wrapper-grid section.entrees div.card div.card__body div.card_body_part1 div.card__description div.animation{

            display: flex;
            background-color: #99e2d0;
            width: 4rem;
            align-items: center;
            justify-content: center;
            transition-duration: .5s;
            position: absolute;
            right: 0;
            top: 60px;
            height: 70px;
            border-radius: 0 20px 20px 0;
            display: none;

        }

        div.wrapper-grid section.entrees div.card div.card__body div.card_body_part1 div.card__description div.animation1{

            display: flex;
            background-color: #99e2d0;
            width: 4rem;
            align-items: center;
            justify-content: center;
            transition-duration: .5s;
            position: absolute;
            right: 0;
            top: 138px;
            height: 70px;
            border-radius: 0 20px 20px 0;
            display: none;

        }

        div.wrapper-grid section.entrees div.card div.card__body div.card_body_part1 div.card__description div.animation2{

            display: flex;
            background-color: #99e2d0;
            width: 4rem;
            align-items: center;
            justify-content: center;
            transition-duration: .5s;
            position: absolute;
            right: 0;
            top: 216px;
            height: 70px;
            border-radius: 0 20px 20px 0; 
            display: none;

        }

        div.wrapper-grid section.plats div.card div.card__body div.card_body_part1 div.card__description div.animation3{

            display: flex;
            background-color: #99e2d0;
            width: 4rem;
            align-items: center;
            justify-content: center;
            transition-duration: .5s;
            position: absolute;
            right: 0;
            top: 73px;
            height: 70px;
            border-radius: 0 20px 20px 0; 
            display: none;

        }

        div.wrapper-grid section.plats div.card div.card__body div.card_body_part1 div.card__description div.animation4{

            display: flex;
            background-color: #99e2d0;
            width: 4rem;
            align-items: center;
            justify-content: center;
            transition-duration: .5s;
            position: absolute;
            right: 0;
            top: 151px;
            height: 70px;
            border-radius: 0 20px 20px 0; 
            display: none;

        }

        div.wrapper-grid section.plats div.card div.card__body div.card_body_part1 div.card__description div.animation5{

            display: flex;
            background-color: #99e2d0;
            width: 4rem;
            align-items: center;
            justify-content: center;
            transition-duration: .5s;
            position: absolute;
            right: 0;
            top: 228px;
            height: 70px;
            border-radius: 0 20px 20px 0; 
            display: none;

        }

        div.wrapper-grid section.desserts div.card div.card__body div.card_body_part1 div.card__description div.animation6{

            display: flex;
            background-color: #99e2d0;
            width: 4rem;
            align-items: center;
            justify-content: center;
            transition-duration: .5s;
            position: absolute;
            right: 0;
            top: 73px;
            height: 70px;
            border-radius: 0 20px 20px 0; 
            display: none;

        }

        div.wrapper-grid section.desserts div.card div.card__body div.card_body_part1 div.card__description div.animation7{

            display: flex;
            background-color: #99e2d0;
            width: 4rem;
            align-items: center;
            justify-content: center;
            transition-duration: .5s;
            position: absolute;
            right: 0;
            top: 151px;
            height: 70px;
            border-radius: 0 20px 20px 0; 
            display: none;

        }
        
        div.wrapper-grid section.desserts div.card div.card__body div.card_body_part1 div.card__description div.animation8{

            display: flex;
            background-color: #99e2d0;
            width: 4rem;
            align-items: center;
            justify-content: center;
            transition-duration: .5s;
            position: absolute;
            right: 0;
            top: 228px;
            height: 70px;
            border-radius: 0 20px 20px 0; 
            display: none;

        }

        div.wrapper-grid section.entrees div.card div.card__body div.card_body_part1 div.card__description div.animation div.icon,
        div.wrapper-grid section.entrees div.card div.card__body div.card_body_part1 div.card__description div.animation1 div.icon,
        div.wrapper-grid section.entrees div.card div.card__body div.card_body_part1 div.card__description div.animation2 div.icon,
        div.wrapper-grid section.plats div.card div.card__body div.card_body_part1 div.card__description div.animation3 div.icon,
        div.wrapper-grid section.plats div.card div.card__body div.card_body_part1 div.card__description div.animation4 div.icon,
        div.wrapper-grid section.plats div.card div.card__body div.card_body_part1 div.card__description div.animation5 div.icon,
        div.wrapper-grid section.desserts div.card div.card__body div.card_body_part1 div.card__description div.animation6 div.icon,
        div.wrapper-grid section.desserts div.card div.card__body div.card_body_part1 div.card__description div.animation7 div.icon,
        div.wrapper-grid section.desserts div.card div.card__body div.card_body_part1 div.card__description div.animation8 div.icon{

            height: 1.6rem;
            width: 1.6rem;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
            transform: rotate(180deg);
            transition-duration: .5s;
        }

    } /*END OF #MENU */
   

    @keyframes turn{
        0% {
            transform: translateX(-50%) rotate(0deg);
            opacity: 1;
        }
        50% {
            transform: translateX(-50%) rotate(180deg);
            opacity: 1;
        }
        77% {
            transform: translateX(-50%) rotate(360deg);
            opacity: 0.9;
        }
        81% {
            transform: translateX(-50%) rotate(0deg);
            opacity: 0.8;
        }
        100% {
            transform: translateX(-50%) rotate(40deg);
            opacity: 0;
        }
      }
  
 

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/    
@media all and (min-width: 401px) and (max-width:760px) {

    .wrapper{

        min-width: 401px;
        max-width: 760px; /*Un point d'arrêt fluide */
        margin: 0px 22px; /*Pour centrer les éléments: 
        je vais définir une marge égale à 0 en haut et en bas et 50px à droite et à gauche*/
                    

    }

    /*------------mainContent------------*/

    #Menu{

        header i.far.fa-heart{

        margin-right: 1rem;

        }

        div.wrapper-grid section.entrees header::after, 
        div.wrapper-grid section.plats header::after, 
        div.wrapper-grid section.desserts header::after{

        margin-right: 21.5rem;

        }

        div.wrapper-grid section.entrees div.card,
        div.wrapper-grid section.plats div.card,
        div.wrapper-grid section.desserts div.card{

            margin-right: 1rem;
        }

        div.wrapper-grid button{

            margin: 3rem 3rem 5.5rem 4.5rem;
        }

        } /*END OF #Menu*/


        }    /*END OF MEDIA QUERY*/
        

 

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/    
    
@media all and (min-width: 761px) and (max-width: 1024px){

        .wrapper{

                min-width: 769px;
                max-width: 1024px; /*Un point d'arrêt fluide */
                margin: 0px 22px; /*Pour centrer les éléments: 
                je vais définir une marge égale à 0 en haut et en bas et 50px à droite et à gauche*/
                            

            }

        /*-----------header-------------*/

        #header{

            display: flex;
            justify-content: center;
        }

        .button-group1 li.logo {
            
            padding: 1.5rem 10rem 0.2rem 10rem;
        }


        /*-----------secondHeader-------------*/


        #secondHeader div.container img{

            height: 400px ;
        }


        /*----------mainContent-----------*/

        #Menu{

        header i.far.fa-heart{

            margin-right: 2rem;
        }

        
        div.wrapper-grid section.entrees header:after,        
        div.wrapper-grid section.desserts header:after{

            margin-left: -8rem;
            margin-right: 43.2rem;
            width: 10%;
            
        }

        div.wrapper-grid section.plats header:after{

            margin-right: 45rem;
            margin-left: -3rem;
            width: 20%;

        }

        div.wrapper-grid section.entrees div.card,
        div.wrapper-grid section.plats div.card,
        div.wrapper-grid section.desserts div.card
        {
            margin-right: 2rem;
        }

      

        div.wrapper-grid button{

            margin: 3rem 3rem 5.5rem 15rem;
        }

        } /*END OF #Menu*/


        /*-----------footer-------------*/

        .footer{

            display: flex;
            justify-content: center; 
            
            ul li h2{
    
                font-size: 250%;
            }  


           }/*END OF .footer*/
        

        footer.wrapper div.container{

            display: flex;
            justify-content: center;  
            
            }
    

    } /*END OF MEDIA QUERY*/




/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/    
       
     
@media all and (min-width: 1025px) and (max-width: 1600px){

    @import "../layouts/footer";

    .wrapper{

        min-width: 1025px;
        max-width: 1600px; /*Un point d'arrêt fluide */
        margin: 0px 100px; /*Pour centrer les éléments: 
        je vais définir une marge égale à 0 en haut et en bas et 50px à droite et à gauche*/
                      

    }

     /*-----------header-------------*/


    #header{

        display: flex;
        justify-content: center;

    }

    


    /*-----------secondHeader-------------*/


    #secondHeader div.container img{

        height: 600px;
    }




    /*--------------mainContent------------*/

    #Menu{

        header{

        margin-right: 3rem;
        margin-left: 1rem;
        }

        div.wrapper-grid button{

        margin: 3rem 1rem 5.5rem 32rem;
        font-size: x-large;

        }

        div.wrapper-grid section.entrees header::after,
        div.wrapper-grid section.plats header::after,
        div.wrapper-grid section.desserts header::after{

        content: "";
        display: block;
        margin-right: 74.5rem;
        margin-left: -8rem;
        margin-top: 0.5rem;
        width: 5%;
        padding-top: 20px;
        border-bottom: 3px solid #99E2D0;
        }

    }/*END OF #Menu*/
 


} /*END OF MEDIA QUERY*/

        