.card__body{
    display: flex;
    width: 100%;
    padding:0!important;
}
.menuDescription{
    width: 70%;
    padding:0.9rem;
    border-radius: 19px;
}
.menuPrix{
    width: 10%;
    transform: translateX(200%);
    text-align: right;
    transition: transform 400ms;
}
.animation, .animation1, .animation2, .animation3, .animation4, .animation5, .animation6, .animation7, .animation8, .animation9, .animation10{
    width: 20%;
    background-color: #99e2d0;
    transform: scaleX(0);
    transform-origin: center right;
    transition: transform 400ms;
}
.card__body:hover .menuPrix{
    transform: translateX(0);
}
.card__body:hover .animation, .card__body:hover .animation1, .card__body:hover .animation2, .card__body:hover .animation3,
 .card__body:hover .animation4, .card__body:hover .animation5, .card__body:hover .animation6, .card__body:hover .animation7,
  .card__body:hover .animation8, .card__body:hover .animation9, .card__body:hover .animation10{
    transform: scaleX(100%);
}