@import "base/normes";
@import "utils/variables";
@import "componants/boutons";
@import "utils/font_weights";   /*MAPS*/
@import "layouts/header"; /*----------HEADER-----------*/
@import "layouts/mobileFooter"; /*----------footer-----------*/  

/*
Mes Polices
Logo et titres: Shrikhand
Texte: Roboto
*/

.wrapper{
        
    min-width: 320px;
    max-width: 400px; /*Un point d'arrêt fluide */
    margin: 0px 22px; /*Pour centrer les éléments: 
    je vais définir une marge égale à 0 en haut et en bas et 50px à droite et à gauche*/
    
}


    
    /*----------secondheader-----------*/


    #secondHeader div.container img {

        background-image: url(images/restaurants/ALaFrancaise.jpg);
        width: 100%;
        background-repeat: no-repeat;
        object-fit: cover;
        z-index: -1;
        position: relative;
    }




    /*----------mainContent-----------*/

    #mainContent{

        background-color: $third-background-color;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        margin-top: -43px;
        z-index: 10;
    }
    
    #Menu{
    
        header{
    
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 1.8rem;
            font-size: large;
            font-weight: map-get($font-weights, medium);
        }
    
        > header:nth-child(1) > h1:nth-child(1){
    
            color: $darker-text-color;
            font-family: 'Shrikhand', sans-serif;       
            font-weight: map-get($font-weights, bold);
        }
    
        header i.far.fa-heart{
    
            font-size: x-large;
            padding-right: 0.9rem;
            color: $secondNav-icon-color;
            cursor: pointer;

            &:hover::before{
                color: #c466db;   
            }
        }
        
        div.wrapper-grid section.entrees header{
    
            padding-top: 1rem;
        }
    
        div.wrapper-grid section.entrees header,
        div.wrapper-grid section.plats header,
        div.wrapper-grid section.desserts header{
    
            font-weight: map-get($font-weights, regular);
            font-size: medium;
            margin-bottom: 0.9rem;
                
        }
    
        div.wrapper-grid section.entrees header:after,
        div.wrapper-grid section.plats header:after,
        div.wrapper-grid section.desserts header:after{
    
            content: ""; /* This is necessary for the pseudo element to work. */ 
            display: block; /* This will put the pseudo element on its own line. */
            margin-right: 17.5rem;
            margin-left: -8rem; /* This will center the border. */
            margin-top: 0.5rem;
            width: 13%; /* Change this to whatever width you want. */
            padding-top: 20px; /* This creates some space between the element and the border. */
            border-bottom: 3px solid $tertiary-color; /* This creates the border.*/
    
        }  
    
            
    
        div.wrapper-grid section.entrees div.card div.card__body,
        div.wrapper-grid section.plats div.card div.card__body,
        div.wrapper-grid section.desserts div.card div.card__body{
    
                background-color: $card-background-color;
                margin-bottom: 0.5rem;
                border-radius: 19px;
                padding: 0.9rem;
                cursor: pointer;    
        }
    
        div.wrapper-grid section.entrees div.card div.card__body div.card_body_part1 div.card__description,
        div.wrapper-grid section.plats div.card div.card__body div.card_body_part1 div.card__description,
        div.wrapper-grid section.desserts div.card div.card__body div.card_body_part1 div.card__description{
         
                display: flex;
                justify-content: space-between;
    
        }
        
        div.wrapper-grid section.entrees div.card div.card__body div.menuDescription h3,
        div.wrapper-grid section.plats div.card div.card__body div.menuDescription h3,
        div.wrapper-grid section.desserts div.card div.card__body div.menuDescription h3{
    
                color: $darker-text-color;
                font-weight: map-get($font-weights, bold);
                font-size: medium;
        
        }
    
        div.wrapper-grid section.entrees div.card div.card__body div.menuDescription p,   
        div.wrapper-grid section.plats div.card div.card__body div.menuDescription p, 
        div.wrapper-grid section.desserts div.card div.card__body div.menuDescription p{
    
             font-weight: map-get($font-weights, regular);
             font-size: 14px;
             padding-top: 0.3rem;
    
        }
    
        div.wrapper-grid section.entrees div.card,
        div.wrapper-grid section.plats div.card,
        div.wrapper-grid section.deserts div.card{
    
            box-shadow: 2px 4px 8px 3px #e4e4e7;
            border-radius: 20px;
    
        }
    
        div.wrapper-grid section.entrees,
        div.wrapper-grid section.plats,
        div.wrapper-grid section.desserts{    
    
            animation: fadeIn 1000ms 400ms both ease-in-out; 
         /*animation: [name] [durée] [délai] [fill-mode] [timing-function] ; 
         l'ordre pour la pluspart de ces fonctions n'a pas d'importance sauf pour le délai et la durée */
         /*animation-fill-mode: both : ma div va adopter la position du keyframe '0%' avant le début de l'animation  
         et ensuite mon animation va garder la position ici définie par la keyframe à 100% même quand l'animation est finie, 
         ma div va adopter les deux comportements en même temps 'backwards et forwards'*/
         /*animation-timing-function: ease-in-out: démarre lentement, accélère puis ralenti à la fin*/
        }
    }
    
    .menuDescription {
        padding: 0.9rem;
    }
    
    @keyframes fadeIn{
        0% {
            opacity: 0;
            transform: translateY(10px);/*on va démarrer à 10px, plus bas donc que la postion normale  */
            
        }
        100% {
            opacity: 1;/*cet élément va devenir complètement opaque au fur et à mesure de l'évolution de l'animation*/
            transform: translateY(0);/*cette transformation va amener l'élément à sa place */ 
            
        }
    }


    #Menu{


            div.wrapper-grid section.entrees div.card div.card__body div.card_body_part1 div.card__description div.animation{

                display: flex;
                background-color: #99e2d0;
                width: 4rem;
                align-items: center;
                justify-content: center;
                transition-duration: .5s;
                position: absolute;
                right: 0;
                top: 60px;
                height: 70px;
                border-radius: 0 20px 20px 0;
                display: none;
    
            }
    
            div.wrapper-grid section.entrees div.card div.card__body div.card_body_part1 div.card__description div.animation1{
    
                display: flex;
                background-color: #99e2d0;
                width: 4rem;
                align-items: center;
                justify-content: center;
                transition-duration: .5s;
                position: absolute;
                right: 0;
                top: 138px;
                height: 70px;
                border-radius: 0 20px 20px 0;
                display: none;
    
            }
    
            div.wrapper-grid section.entrees div.card div.card__body div.card_body_part1 div.card__description div.animation2{
    
                display: flex;
                background-color: #99e2d0;
                width: 4rem;
                align-items: center;
                justify-content: center;
                transition-duration: .5s;
                position: absolute;
                right: 0;
                top: 216px;
                height: 70px;
                border-radius: 0 20px 20px 0; 
                display: none;
    
            }
    
            div.wrapper-grid section.plats div.card div.card__body div.card_body_part1 div.card__description div.animation3{
    
                display: flex;
                background-color: #99e2d0;
                width: 4rem;
                align-items: center;
                justify-content: center;
                transition-duration: .5s;
                position: absolute;
                right: 0;
                top: 73px;
                height: 70px;
                border-radius: 0 20px 20px 0; 
                display: none;
    
            }
    
            div.wrapper-grid section.plats div.card div.card__body div.card_body_part1 div.card__description div.animation4{
    
                display: flex;
                background-color: #99e2d0;
                width: 4rem;
                align-items: center;
                justify-content: center;
                transition-duration: .5s;
                position: absolute;
                right: 0;
                top: 151px;
                height: 70px;
                border-radius: 0 20px 20px 0; 
                display: none;
    
            }
    
            div.wrapper-grid section.plats div.card div.card__body div.card_body_part1 div.card__description div.animation5{
    
                display: flex;
                background-color: #99e2d0;
                width: 4rem;
                align-items: center;
                justify-content: center;
                transition-duration: .5s;
                position: absolute;
                right: 0;
                top: 228px;
                height: 70px;
                border-radius: 0 20px 20px 0; 
                display: none;
    
            }
    
            div.wrapper-grid section.desserts div.card div.card__body div.card_body_part1 div.card__description div.animation6{
    
                display: flex;
                background-color: #99e2d0;
                width: 4rem;
                align-items: center;
                justify-content: center;
                transition-duration: .5s;
                position: absolute;
                right: 0;
                top: 73px;
                height: 70px;
                border-radius: 0 20px 20px 0; 
                display: none;
    
            }
    
            div.wrapper-grid section.desserts div.card div.card__body div.card_body_part1 div.card__description div.animation7{
    
                display: flex;
                background-color: #99e2d0;
                width: 4rem;
                align-items: center;
                justify-content: center;
                transition-duration: .5s;
                position: absolute;
                right: 0;
                top: 151px;
                height: 70px;
                border-radius: 0 20px 20px 0; 
                display: none;
    
            }
            
            div.wrapper-grid section.desserts div.card div.card__body div.card_body_part1 div.card__description div.animation8{
    
                display: flex;
                background-color: #99e2d0;
                width: 4rem;
                align-items: center;
                justify-content: center;
                transition-duration: .5s;
                position: absolute;
                right: 0;
                top: 228px;
                height: 70px;
                border-radius: 0 20px 20px 0; 
                display: none;
    
            }
            
            div.wrapper-grid section.entrees div.card div.card__body div.card_body_part1 div.card__description div.animation div.icon,
            div.wrapper-grid section.entrees div.card div.card__body div.card_body_part1 div.card__description div.animation1 div.icon,
            div.wrapper-grid section.entrees div.card div.card__body div.card_body_part1 div.card__description div.animation2 div.icon,
            div.wrapper-grid section.plats div.card div.card__body div.card_body_part1 div.card__description div.animation3 div.icon,
            div.wrapper-grid section.plats div.card div.card__body div.card_body_part1 div.card__description div.animation4 div.icon,
            div.wrapper-grid section.plats div.card div.card__body div.card_body_part1 div.card__description div.animation5 div.icon,
            div.wrapper-grid section.desserts div.card div.card__body div.card_body_part1 div.card__description div.animation6 div.icon,
            div.wrapper-grid section.desserts div.card div.card__body div.card_body_part1 div.card__description div.animation7 div.icon,
            div.wrapper-grid section.desserts div.card div.card__body div.card_body_part1 div.card__description div.animation8 div.icon{

                height: 1.6rem;
                width: 1.6rem;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                transform: rotate(180deg);
                transition-duration: .5s;
                
            }


    } /*END OF #Menu*/

 
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/    
@media all and (min-width: 401px) and (max-width:760px) {

    .wrapper{

        min-width: 401px;
        max-width: 760px; /*Un point d'arrêt fluide */
        margin: 0px 22px; /*Pour centrer les éléments: 
        je vais définir une marge égale à 0 en haut et en bas et 50px à droite et à gauche*/
                    

    }

    /*------------mainContent------------*/


    #Menu{

            header i.far.fa-heart{

                margin-right: 1rem;
            }

            div.wrapper-grid section.entrees header::after, 
            div.wrapper-grid section.plats header::after, 
            div.wrapper-grid section.desserts header::after{

                margin-right: 21.5rem;
            }

            div.wrapper-grid section.entrees div.card,
            div.wrapper-grid section.plats div.card,
            div.wrapper-grid section.desserts div.card
            {

                margin-right: 1rem;
            }

            div.wrapper-grid button{

                margin: 3rem 3rem 5.5rem 4.5rem;
            }

        }    /*END OF #Menu*/

}    /*END OF MEDIA QUERY*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/    
    
@media all and (min-width: 761px) and (max-width: 1024px){

            .wrapper{

                min-width: 761px;
                max-width: 1024px; /*Un point d'arrêt fluide */
                margin: 0px 22px; /*Pour centrer les éléments: 
                je vais définir une marge égale à 0 en haut et en bas et 50px à droite et à gauche*/
                            

            }

        /*-----------header-------------*/

        #header{

            display: flex;
            justify-content: center;
        }
        
        .button-group1 li.logo {

            padding: 1.5rem 10rem 0.2rem 10rem;
        }


        /*-----------secondHeader-------------*/


        #secondHeader div.container img{

            height: 400px ;
        }


        /*----------mainContent-----------*/


        #Menu{

         
                header i.far.fa-heart{

                    margin-right: 2rem;
                }

                div.wrapper-grid section.entrees header:after,        
                div.wrapper-grid section.desserts header:after{

                    margin-left: -8rem;
                    margin-right: 42.9rem;
                    width: 10%;
                    
                }

                div.wrapper-grid section.plats header:after{

                    margin-right: 45rem;
                    margin-left: -3rem;
                    width: 20%;

                }

                div.wrapper-grid section.entrees div.card,
                div.wrapper-grid section.plats div.card,
                div.wrapper-grid section.desserts div.card
                {
                    margin-right: 2rem;
                }

      

                div.wrapper-grid button{

                    margin: 3rem 3rem 5.5rem 15rem;
                }
            } /*END OF #Menu*/


        /*-----------footer-------------*/

        .footer{

            display: flex;
            justify-content: center;    

            ul li h2{
    
                font-size: 250%;
            }  
        
           }


        footer.wrapper div.container{

            display: flex;
            justify-content: center;  
            
            }
  
} /*END OF MEDIA QUERY*/




/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/    
       
     
@media all and (min-width: 1025px) and (max-width: 1600px){
    @import "layouts/desktopFooter";

    .wrapper{

        min-width: 1025px;
        max-width: 1600px; /*Un point d'arrêt fluide */
        margin: 0px 22px; /*Pour centrer les éléments: 
        je vais définir une marge égale à 0 en haut et en bas et 50px à droite et à gauche*/
                      

    }

     /*-----------header-------------*/

    #header{

        display: flex;
        justify-content: center;
        }

    /*-----------secondHeader-------------*/


    #secondHeader div.container img{

        height: 600px ;
    }    



      /*--------------mainContent------------*/


    #Menu{


            header{

                margin-right: 3rem;
                margin-left: 1rem;
            }

            div.wrapper-grid button{

                margin: 3rem 1rem 5.5rem 36rem;
                font-size: x-large;

            }


            div.wrapper-grid section.entrees header::after,
            div.wrapper-grid section.plats header::after,
            div.wrapper-grid section.desserts header::after{

                content: "";
                display: block;
                margin-right: 84rem;
                margin-left: -8rem;
                margin-top: 0.5rem;
                width: 5%;
                padding-top: 20px;
                border-bottom: 3px solid #99E2D0;
            }

        } /*END OF #Menu*/


    /*-----------footer-------------*/

    
}    /*END OF #MEDIA QUERY*/