@import "base/normes"; /*---box sizing -----------*/
@import "utils/variables";
@import "utils/font_weights";   /*MAPS*/
@import "pages/main_loader"; /*-----------LOADER----------*/
@import "pages/main_header"; /*----------HEADER-----------*/
@import "pages/main_secondHeader"; /*----------secondHEADER-----------*/
@import "pages/main_nav";  /*----------mainNav-----------*/
@import "pages/main_secondNav";    /*-----------secondNav--------------*/
@import "pages/main_content";    /*----------mainContent-----------*/
@import "pages/main_footer";    /*----------footer-----------*/  
   
 
    
    /*
    Mes Polices
    Logo et titres: Shrikhand
    Texte: Roboto    
    */
 
    .wrapper{
        
        min-width: 320px;
        max-width: 400px; /*Un point d'arrêt fluide */
        margin: 0px 22px; /*Pour centrer les éléments: 
        je vais définir une marge égale à 0 en haut et en bas et 50px à droite et à gauche*/
        
    }

    .heart1{
        position: absolute;
        width: 15px;
        height: 15px;
        background: white;
        right: 20px;
        top: 190px;
        border-bottom: 1px solid #817c7a;
        border-right: 1px solid #817c7a;
        transform: rotate(45deg);
    }
    .heart1:before{
        content: ""; /*insert generated content*/
        position: absolute;
        top: -8px;
        width: 13px;
        height: 8px;
        background: #ffffff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-left: 1px solid #817c7a;
        border-right: 1px solid #817c7a;
    }
    .heart1:after{
        content: ""; /*insert generated content*/
        position: absolute;
        left: -8px;
        width: 8px;
        height: 13px;
        background: #ffffff;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top: 1px solid #817c7a;
        border-bottom: 1px solid #817c7a;
    }
    .heart1:hover{
        background: linear-gradient(#ff79da, #c466db);
        border: none;
        width: 13px;
        height:13px;
    }
    .heart1:hover::after{
        background: linear-gradient(#ff79da, #c466db);
        border: none;
        width: 9px;
        height: 13px;
    }
    .heart1:hover::before{
        background: linear-gradient(#ff79da, #c466db);
        border: none;
        width: 13px;
        height: 8.5px;
    }
    
    /*.heart1:hover > ::before{
        background: linear-gradient(#ff79da, #c466db);
        border: none;
    }*/
    
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/    
@media all and (min-width: 401px) and (max-width:760px) {

    .wrapper{

        min-width: 401px;
        max-width: 760px; /*Un point d'arrêt fluide */
        margin: 0px 22px; /*Pour centrer les éléments: 
        je vais définir une marge égale à 0 en haut et en bas et 50px à droite et à gauche*/
                    

    }

    /*------------secondNav--------------*/

    #secondNav section.wrapper div.row a{

        margin-right: 1rem;
    }


    /*------------mainContent------------*/

    #Restaurants{

        div.wrapper-grid div.card div.card__body span.nouveau{

            left: 280px;
        }

        div.wrapper-grid a div.card{

            margin-right: 1rem;
        }
    
    }

   
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/    
    
    @media all and (min-width: 761px) and (max-width: 1024px){

        .wrapper{

            min-width: 761px;
            max-width: 1024px; /*Un point d'arrêt fluide */
            margin: 0px 22px; /*Pour centrer les éléments: 
            je vais définir une marge égale à 0 en haut et en bas et 50px à droite et à gauche*/
                          

        }

         /*-----------header-------------*/

        #header{

        display: flex;
        justify-content: center;

        }

        /*-----------mainNav-------------*/

        #mainNav{

           display: flex;
           justify-content: center;

           section.wrapper div.row.narrow button{

            margin: 0 10rem;

            }

        }

       
        /*-----------secondNav-------------*/


        
        #secondNav{

        display: flex;
        justify-content: center;  

        section.wrapper div.row a{

            margin: 0.5rem 13rem;

            }

        section.wrapper div.row header{
        
                display: flex;
                justify-content: center; 
        
            }
            

        }

        

        /*-----------mainContent-------------*/

        #mainContent{

        display: flex;
        justify-content: center;

        }

        #Restaurants{

        header{

                display: flex;
                justify-content: center;
        
            }    

        div.wrapper-grid a div.card{

                margin: 1rem 10rem;
            } 
            
        div.wrapper-grid div.card div.card__body span.nouveau{

                left: 330px;
            }    
        }
      

        /*-----------footer-------------*/

       .footer{

        display: flex;
        justify-content: center;   

        
        .wrapper div.container{

            display: flex;
            justify-content: center;  
            
            }

        ul li h2{

                font-size: 250%;
            }   
        
       }

        
    
    }



/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/    
       
     
    @media all and (min-width: 1025px) and (max-width: 1600px){
        @import "layouts/desktopFooter";

        .wrapper{

            min-width: 1025px;
            max-width: 1600px; /*Un point d'arrêt fluide */
            margin: 0px 22px; /*Pour centrer les éléments: 
            je vais définir une marge égale à 0 en haut et en bas et 50px à droite et à gauche*/
                          

        }

         /*-----------header-------------*/


        #header{

        display: flex;
        justify-content: center;

        }



        /*-----------mainNav-------------*/



        #mainNav{

           display: flex;
           justify-content: center;

           div.row button{

            margin-right: 20rem;
            margin-left: 20rem;
        
        }

        }

        
       
        /*-----------secondNav-------------*/

       #secondNav{

        display: flex;
        justify-content: center;    

        
        div.row header h1 {
      
            display: flex;
            justify-content: center;
          }

       }

      


        /*-----------mainContent-------------*/

       #mainContent{

        display: flex;
        justify-content: center;


       }

       
       #Restaurants{

        header h1{

            display: flex;
            justify-content: center;
    
           }
           
        div.wrapper-grid a div.card div.card__body.laPaletteDuGout span.nouveau,
        div.wrapper-grid  a div.card div.card__body.laNoteEnchantee span.nouveau {

            left: 57.5rem;
            top: 15px;

        }  

       }
      


        footer.wrapper div.container{

        display: flex;
        justify-content: center;  
        
        }

    }