@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  color: #606060;
  font-weight: 700;
}

ul {
  /*I want to remove all the bullet points */
  list-style-type: none;
}

a, span {
  /*I want to remove my underlines*/
  text-decoration: none;
  color: #606060;
}

img {
  /*I want my images to fit in the container*/
  width: 100%;
}

/*---box sizing -----------*/
/*
MA PALETTE DE COULEURS :
Couleur primaire   #9356DC
Couleur secondaire #FF79DA
Couleur Tertaire   #99E2D0
*/
/*Mes variables pour les couleurs*/
/*MAPS*/
.loader_background {
  z-index: 3;
  position: absolute;
  background: rgba(153, 226, 208, 0.5);
  background-size: cover;
  width: 100%;
  height: 350%;
  top: 0;
  left: 0;
  opacity: 0;
  transform-origin: top;
  transform: scale(0);
  /*The scale() method increases or decreases the size of an element (according to the parameters given for the width and height)*/
  animation: loaderBackground 4s;
}

.loader_spinner {
  z-index: 4;
  position: fixed;
  border: solid 15px transparent;
  border-radius: 50%;
  opacity: 0;
  height: 150px;
  width: 150px;
  left: calc(50% - 80px);
  top: calc(50% - 80px);
  border-right-color: #9356dc;
  border-top-color: #9356dc;
  animation: rotate 3s forwards linear;
}

.loader_spinner::before {
  content: "";
  z-index: 4;
  border: solid 15px transparent;
  border-right-color: #ff79da;
  border-top-color: #ff79da;
  height: 120px;
  width: 120px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  border-radius: 50%;
  animation: rotate 3s 250ms forwards linear;
}

.loader_spinner::after {
  content: "";
  z-index: 4;
  border-radius: 50%;
  border: solid 15px transparent;
  border-right-color: #99e2D0;
  border-top-color: #99e2D0;
  z-index: 3;
  height: 90px;
  width: 90px;
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0;
  animation: rotate 3s 500ms forwards linear;
}

@keyframes loaderBackground {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
    display: none;
  }
}
@keyframes rotate {
  0% {
    opacity: 1;
    transform: rotate(180deg);
  }
  50% {
    opacity: 0.5;
    transform: rotate(540deg);
  }
  100% {
    transform: rotate(720deg);
    opacity: 0;
    display: none;
  }
}
/*-----------LOADER----------*/
#header {
  border-bottom: 1px solid #f2f2f2;
  background-color: #FFFFFF;
  /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [color];*/
  box-shadow: 0px 0px 5px 0 #888888;
  /*margin-bottom: 2px;  */
}

header nav ul li.logo {
  padding: 1.5rem 4.2rem 0.2rem 4.2rem;
  /*J'ai réduit la taille de mon logo avec des paddings de 4.2rem à droite et à gauche*/
  font-family: "Shrikhand", sans-serif;
}

/*----------HEADER-----------*/
#secondHeader {
  border-bottom: 1px solid #f2f2f2;
  background-color: #E8E8E8;
  display: flex;
  justify-content: center;
  padding: 0.9rem;
  color: black;
  box-shadow: inset 0px 10px 10px #c4c4c4;
}
#secondHeader div.wrapper div.container.flex nav form.search-form i.fas.fa-map-marker-alt {
  padding-right: 1rem;
}

.container.flex {
  display: flex;
  justify-content: center;
}

::placeholder {
  color: #505050;
  background-color: #E8E8E8;
  font-weight: 700;
  font-size: larger;
  opacity: 1;
  /* Firefox */
  font-family: "Roboto", sans-serif;
  /*margin-right: 0px;*/
  outline: none;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #505050;
  background-color: #E8E8E8;
  font-weight: 800;
  font-size: larger;
  font-family: "Roboto", sans-serif;
  /*margin-right: 0px;*/
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #505050;
  background-color: #E8E8E8;
  font-weight: 800;
  font-size: larger;
  font-family: "Roboto", sans-serif;
  /*margin-right: 0px;*/
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #eee;
}

.no-outline:focus {
  outline: none;
}

/*----------secondHEADER-----------*/
#mainNav {
  background-color: #f2f2f2;
}
#mainNav div.row {
  display: flex;
  flex-flow: column;
  text-align: center;
  padding-bottom: 3rem;
}
#mainNav div.row h2 {
  color: black;
  padding: 2.3rem 2rem 0.9rem 2rem;
  font-family: "Roboto", sans-serif;
}
#mainNav div.row p {
  font-size: large;
  font-weight: 400;
  color: #505050;
  padding-bottom: 2rem;
}
#mainNav div.row button {
  border-radius: 30px;
  padding: 1rem 1rem 1rem 1rem;
  color: #FFFFFF;
  background-color: #FF79DA;
  font-size: medium;
  margin-right: 3rem;
  margin-left: 3rem;
  border: 2px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 2px 2px 7px 0px #888888;
  cursor: pointer;
}

/*----------mainNav-----------*/
#secondNav div.row {
  padding: 3rem 0 3rem 0;
  display: flex;
  flex-flow: column;
}
#secondNav div.row header h1 {
  color: black;
  padding-bottom: 1.5rem;
}
#secondNav section.wrapper div.row a {
  background-color: #f2f2f2;
  border-radius: 22px;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  color: black;
  font-size: medium;
  font-weight: 600;
  position: relative;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border: 2px;
  cursor: pointer;
}
#secondNav section.wrapper div.row a:active {
  background-color: #f5edff;
}
#secondNav section.wrapper div.row a:active i.fas.fa-store::before, #secondNav section.wrapper div.row a:active i.fas.fa-list::before, #secondNav section.wrapper div.row a:active i.fas.fa-mobile-alt::before {
  color: #9356DC;
}
#secondNav section.wrapper div.row a i.fas.fa-store,
#secondNav section.wrapper div.row a i.fas.fa-list,
#secondNav section.wrapper div.row a i.fas.fa-mobile-alt {
  color: #808080;
  margin-right: 1.5rem;
  font-size: 120%;
  /*if active :  color or background: linear-gradient(#ff79da, #c466db); */
}
#secondNav section.wrapper div.row a:active .fa-mobile-alt,
#secondNav section.wrapper div.row a:active .fa-list,
#secondNav section.wrapper div.row a:active .fa-store {
  color: #9356DC;
}
#secondNav section.wrapper div.row a:hover {
  background-color: #e4d5f6;
}
#secondNav section.wrapper div.row a:hover .fas.fa-mobile-alt::before,
#secondNav section.wrapper div.row a:hover .fas.fa-list::before,
#secondNav section.wrapper div.row a:hover .fas.fa-store::before {
  color: #9356DC;
}

.circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 1px;
  background: #9356DC;
  border: 3px solid #9356DC;
  color: #FFFFFF;
  text-align: center;
  font-family: "Roboto", sans-serif;
  position: relative;
  margin-right: 1rem;
  margin-left: -2.5rem;
}

/*-----------secondNav--------------*/
#mainContent {
  background-color: #f2f2f2;
  padding-top: 3.9rem;
  padding-bottom: 3.9rem;
}

#Restaurants header h1 {
  color: black;
  padding-bottom: 1.2rem;
}
#Restaurants div.wrapper-grid div.card div.card_body_part1 {
  position: relative;
  top: 160px;
  padding-left: 0.9rem;
}
#Restaurants div.wrapper-grid a div.card div.card__body span.nouveau,
#Restaurants div.wrapper-grid div.card div.card__body span.nouveau {
  color: #088F8F;
  background-color: #99E2D0;
  position: relative;
  left: 225px;
  top: 13px;
  padding: 5px 12px;
  border: none;
  border-radius: 2px;
  font-weight: 700;
}
#Restaurants div.wrapper-grid div.card div.card__body div.card_body_part1 h3.card__title {
  color: black;
  font-weight: 700;
  padding-bottom: 0.2rem;
  font-size: large;
}
#Restaurants div.wrapper-grid div.card div.card__body div i.fas.fa-heart {
  position: relative;
  top: 120px;
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
  right: 20px;
  font-weight: 300;
  font-size: x-large;
  color: #817c7a;
  cursor: pointer;
}
#Restaurants div.wrapper-grid div.card div.card__body div.card_body_part1 div.card__description p {
  font-weight: 400;
}
#Restaurants div.wrapper-grid div.card div.card__body.LeDeliceDesSens div.card_body_part1,
#Restaurants div.wrapper-grid div.card div.card__body.ALaFrancaise div.card_body_part1 {
  top: 175px;
}
#Restaurants div.wrapper-grid div.card div.card__body.LeDeliceDesSens div i.fas.fa-heart,
#Restaurants div.wrapper-grid div.card div.card__body.ALaFrancaise div i.fas.fa-heart {
  top: 140px;
}
#Restaurants div.wrapper-grid a div.card div.card__body div.heart {
  cursor: pointer;
  position: relative;
}

.fa-heart {
  cursor: pointer;
}

/*if hover, background-color: #c065db  
.heart:hover .fas.fa-heart::before{

    color: #c065db;
    background: #c065db;

}
*/
.card {
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  cursor: pointer;
  /*ease-in - specifies a transition effect with a slow start*/
  transition: transform 200ms ease-in;
  /*Transition effects are animation options*/
  background: #FFFFFF;
  min-height: 235px;
  margin-bottom: 1.2rem;
}

.wrapper-grid div.card__body.laPaletteDuGout {
  background-image: url(../images/restaurants/laPaletteDuGout.jpg);
  object-fit: cover;
  height: 165px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.wrapper-grid div.card__body.laNoteEnchantee {
  background-image: url(../images/restaurants/laNoteEnchantee.jpg);
  object-fit: cover;
  height: 165px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper-grid div.card__body.ALaFrancaise {
  background-image: url(../images/restaurants/ALaFrancaise.jpg);
  object-fit: cover;
  height: 165px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper-grid div.card__body.LeDeliceDesSens {
  background-image: url(../images/restaurants/leDeliceDesSens.jpg);
  object-fit: cover;
  height: 165px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*----------mainContent-----------*/
.footer {
  background-color: #353535;
  display: flex;
  justify-content: flex-start;
  color: #FFFFFF;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.footer ul li h2 {
  font-family: "Shrikhand", sans-serif;
}
.footer ul li a {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}
.footer ul li:first-child {
  padding-bottom: 0.6rem;
  font-size: small;
  font-weight: 300;
}
.footer ul li.button {
  padding-top: 0.5rem;
  padding-bottom: 0.1rem;
  font-size: medium;
  font-weight: 400;
}

footer.wrapper div.container section#mentionsLegales ul li.button a i.fas.fa-utensils {
  padding-right: 1rem;
  font-size: small;
}

footer.wrapper div.container section#mentionsLegales ul li.button a i.fas.fa-hands-helping {
  padding-right: 1rem;
  font-size: small;
}

/*----------footer-----------*/
.heart1 {
  position: absolute;
  width: 15px;
  height: 15px;
  background: white;
  right: 20px;
  top: 190px;
  border-bottom: 1px solid #817c7a;
  border-right: 1px solid #817c7a;
  transform: rotate(45deg);
}

.heart1:before {
  content: "";
  /*insert generated content*/
  position: absolute;
  top: -8px;
  width: 13px;
  height: 8px;
  background: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-left: 1px solid #817c7a;
  border-right: 1px solid #817c7a;
}

.heart1:after {
  content: "";
  /*insert generated content*/
  position: absolute;
  left: -8px;
  width: 8px;
  height: 13px;
  background: #ffffff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 1px solid #817c7a;
  border-bottom: 1px solid #817c7a;
}

.heart1:hover {
  background: linear-gradient(#ff79da, #c466db);
  border: none;
  width: 13px;
  height: 13px;
}
.heart1:hover::before:hover {
  background: linear-gradient(#ff79da, #c466db);
  border: none;
}

.heart1:before:hover {
  background: linear-gradient(#ff79da, #c466db);
  border: none;
}

#Restaurants div.wrapper-grid a div.card div.card__body.laPaletteDuGout div.heart1::before:hover {
  background: linear-gradient(#ff79da, #c466db);
  border: none;
  width: 13px;
  height: 8px;
}

/*
Mes Polices
Logo et titres: Shrikhand
Texte: Roboto    
*/
.wrapper {
  min-width: 320px;
  max-width: 400px;
  /*Un point d'arrêt fluide */
  margin: 0px 22px;
  /*Pour centrer les éléments: 
  je vais définir une marge égale à 0 en haut et en bas et 50px à droite et à gauche*/
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media all and (min-width: 401px) and (max-width: 760px) {
  .wrapper {
    min-width: 401px;
    max-width: 760px;
    /*Un point d'arrêt fluide */
    margin: 0px 22px;
    /*Pour centrer les éléments: 
    je vais définir une marge égale à 0 en haut et en bas et 50px à droite et à gauche*/
  }

  /*------------secondNav--------------*/
  #secondNav section.wrapper div.row a {
    margin-right: 1rem;
  }

  /*------------mainContent------------*/
  #Restaurants div.wrapper-grid div.card div.card__body span.nouveau {
    left: 280px;
  }
  #Restaurants div.wrapper-grid a div.card {
    margin-right: 1rem;
  }
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media all and (min-width: 761px) and (max-width: 1024px) {
  .wrapper {
    min-width: 761px;
    max-width: 1024px;
    /*Un point d'arrêt fluide */
    margin: 0px 22px;
    /*Pour centrer les éléments: 
    je vais définir une marge égale à 0 en haut et en bas et 50px à droite et à gauche*/
  }

  /*-----------header-------------*/
  #header {
    display: flex;
    justify-content: center;
  }

  /*-----------mainNav-------------*/
  #mainNav {
    display: flex;
    justify-content: center;
  }
  #mainNav section.wrapper div.row.narrow button {
    margin: 0 10rem;
  }

  /*-----------secondNav-------------*/
  #secondNav {
    display: flex;
    justify-content: center;
  }
  #secondNav section.wrapper div.row a {
    margin: 0.5rem 13rem;
  }
  #secondNav section.wrapper div.row header {
    display: flex;
    justify-content: center;
  }

  /*-----------mainContent-------------*/
  #mainContent {
    display: flex;
    justify-content: center;
  }

  #Restaurants header {
    display: flex;
    justify-content: center;
  }
  #Restaurants div.wrapper-grid a div.card {
    margin: 1rem 10rem;
  }
  #Restaurants div.wrapper-grid div.card div.card__body span.nouveau {
    left: 330px;
  }

  /*-----------footer-------------*/
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer .wrapper div.container {
    display: flex;
    justify-content: center;
  }
  .footer ul li h2 {
    font-size: 250%;
  }
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media all and (min-width: 1025px) and (max-width: 1600px) {
  .footer {
    display: flex;
    justify-content: center;
  }

  footer.wrapper div.container {
    display: flex;
    justify-content: center;
  }

  #mentionsLegales ul li h2 {
    font-size: 400%;
  }
  #mentionsLegales ul li.button {
    font-size: 200%;
  }
  #mentionsLegales ul li.button a i.fas.fa-hands-helping::before,
#mentionsLegales ul li.button a i.fas.fa-utensils::before {
    font-size: 200%;
  }

  .wrapper {
    min-width: 1025px;
    max-width: 1600px;
    /*Un point d'arrêt fluide */
    margin: 0px 22px;
    /*Pour centrer les éléments: 
    je vais définir une marge égale à 0 en haut et en bas et 50px à droite et à gauche*/
  }

  /*-----------header-------------*/
  #header {
    display: flex;
    justify-content: center;
  }

  /*-----------mainNav-------------*/
  #mainNav {
    display: flex;
    justify-content: center;
  }
  #mainNav div.row button {
    margin-right: 20rem;
    margin-left: 20rem;
  }

  /*-----------secondNav-------------*/
  #secondNav {
    display: flex;
    justify-content: center;
  }
  #secondNav div.row header h1 {
    display: flex;
    justify-content: center;
  }

  /*-----------mainContent-------------*/
  #mainContent {
    display: flex;
    justify-content: center;
  }

  #Restaurants header h1 {
    display: flex;
    justify-content: center;
  }
  #Restaurants div.wrapper-grid a div.card div.card__body.laPaletteDuGout span.nouveau,
#Restaurants div.wrapper-grid a div.card div.card__body.laNoteEnchantee span.nouveau {
    left: 57.5rem;
    top: 15px;
  }

  footer.wrapper div.container {
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */