/*
MA PALETTE DE COULEURS :
Couleur primaire   #9356DC
Couleur secondaire #FF79DA
Couleur Tertaire   #99E2D0
*/

/*Mes variables pour les couleurs*/


$main-background-color: #FFFFFF;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$border-color:#f2f2f2;
$text-color:#606060;
$second-background-color: #E8E8E8;
$third-background-color: #f2f2f2;
$darker-text-color: black;
$footer-background-color: #353535;
$placeholder-color: #505050;
$footer-text-color: #FFFFFF;
$mainNav-button-color: #FFFFFF;
$secondNav-icon-color: #808080;
$mainContent-background-color: #f2f2f2;
$green-button-color: #088F8F;
$heart-icon-border-color: #817c7a;
$box-shadow-color: #888888;
$card-background-color: #FFFFFF;
