#Menu div.wrapper-grid button{

    border-radius: 30px;
    padding: 0.7rem 2.9rem 0.7rem 2.9rem;
    color: #FFFFFF;
    background-color: #FF79DA;
    font-size: medium;
    margin: 3rem 3rem 5.5rem 3.5rem;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    box-shadow: 2px 2px 7px 0px #888888;
    border: 2px;
    
}
