  
    .footer{
    
        background-color: $footer-background-color;
        display: flex;
        justify-content: flex-start;
        color: $footer-text-color;
        padding-top: 1rem;
        padding-bottom: 1.5rem;

        ul li h2{
    
            font-family: 'Shrikhand', sans-serif;
        }

        ul li a{
    
            color: $footer-text-color;
            font-family: 'Roboto', sans-serif;
        }
        
        ul li:first-child{

            padding-bottom: 0.6rem;
            font-size: small;
            font-weight: map-get($font-weights, small);
        }

        ul li.button{

            padding-top: 0.5rem;
            padding-bottom: 0.1rem;
            font-size: medium;
            font-weight: map-get($font-weights, regular);
        }
    }
    
 
   
    
    
    footer.wrapper div.container section#mentionsLegales ul li.button a i.fas.fa-utensils{

        padding-right: 1rem;
        font-size: small;
    }

    footer.wrapper div.container section#mentionsLegales ul li.button a i.fas.fa-hands-helping{

        padding-right: 1rem;
        font-size: small;

    }
