    * {

        box-sizing: border-box;
        margin: 0;
        padding: 0;
            
    }

     
    body {
    
        background-color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        color: #606060;	
        font-weight: 700;
    
    }


    ul {

        /*I want to remove all the bullet points */
        list-style-type: none; 
    
    }
    

    a, span {

        /*I want to remove my underlines*/
        text-decoration: none;
        color: #606060;
    }
    
    
    
    img {
    
        /*I want my images to fit in the container*/
        width: 100%;
    }
    